#**DS 2002 Project**

In [ ]:
import pandas as pd
import json
import sqlite3

#This function takes a csv or json file and target file type and converts the file to the desired format
def convert_file(input_file, target_type):
    if input_file.endswith('.csv'):
        df = pd.read_csv(input_file)
    elif input_file.endswith('.json'):
        df = pd.read_json(input_file)
    else:
        raise ValueError("Unsupported file type. Please provide a .csv or .json file.")

    if target_type == 'json':
        output_file = input_file.replace('.csv', '.json').replace('.json', '.json')
        df.to_json(output_file, orient='records')
    elif target_type == 'csv':
        output_file = input_file.replace('.json', '.csv').replace('.csv', '.csv')
        df.to_csv(output_file, index=False)
    elif target_type == 'sql':
        output_file = input_file.replace('.json', '.db').replace('.csv', '.db')
        conn = sqlite3.connect(output_file)
        df.to_sql('data', conn, if_exists='replace', index=False)
        conn.close()
    else:
        raise ValueError("Unsupported target type. Please choose 'json', 'csv', or 'sql'.")

In [ ]:
input_file = input("Enter the path to your input file (csv or json): ")
target_type = input("Enter the desired target type (json, csv, or sql): ")
convert_file(input_file, target_type)

if target_type == 'json':
    df = pd.read_json(input_file.replace('.csv', '.json').replace('.json', '.json'))
elif target_type == 'csv':
    df = pd.read_csv(input_file.replace('.json', '.csv').replace('.csv', '.csv'))
elif target_type == 'sql':
    conn = sqlite3.connect(input_file.replace('.json', '.db').replace('.csv', '.db'))
    df = pd.read_sql_query("SELECT * FROM data", conn)
    conn.close()

if not df.empty:
    df = df.iloc[:, :-1]


df['NewColumn'] = 'New'
print(f"Number of rows: {df.shape[0]}")
print(f"Number of columns: {df.shape[1]}")
print(df.head())

Enter the path to your input file (csv or json): results.csv
Enter the desired target type (json, csv, or sql): json

Basic information about the new dataset:
Number of rows: 47598
Number of columns: 9

First few rows of the DataFrame:
        date home_team away_team  home_score  away_score tournament     city  \
0 1872-11-30  Scotland   England           0           0   Friendly  Glasgow
1 1873-03-08   England  Scotland           4           2   Friendly   London
2 1874-03-07  Scotland   England           2           1   Friendly  Glasgow
3 1875-03-06   England  Scotland           2           2   Friendly   London
4 1876-03-04  Scotland   England           3           0   Friendly  Glasgow

    country  NewColumn
0  Scotland  New Value
1   England  New Value
2  Scotland  New Value
3   England  New Value
4  Scotland  New Value